.ensime_cache/*
target/*
project/target/*
project/project/target/*
lift_example/*
.classpath
.project
.scala_dependencies
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
derby.log
out.txt
.manager/*
project/plugins/**
lib_managed/**
project/boot/**
project/build/target/**
*~
*.DS_Store
